<!DOCTYPE html>
<html>
<head>
<title>Hello Ext</title>
<link rel="stylesheet" type="text/css" href="/assets/ext4/ext-all.css">
<script type="text/javascript" src="/assets/ext4/bootstrap.js"></script>
<script type="text/javascript" src="/assets/ext4/rails-shim.js"></script>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
